{% load i18n %}

<h3 class="subtitle">{% trans "Subscription" %}:</h3>
{% if request.user.is_authenticated %}
    {% if subscription %}
        {% if subscription.auto_subscription %}
            <p>{% trans "You were automatically subscribed to this question." %}</p>
        {% else %}
            <p>{% trans "You are subscribed to this question." %}</p>
        {% endif %}
    {% else %}
        <p>{% trans "You are not subscribed to this question." %}</p>
    {% endif %}
    <p><a class="sidebar_button subscription_switch" href="{% url switch_subscription id=question.id %}">
        {% if subscription %}
            {% trans "unsubscribe me" %}
        {% else %}
            {% trans "subscribe me" %}
        {% endif %}
    </a></p>
    <p>
        {% blocktrans with request.user.get_profile_url as profile_url %}
            (you can adjust your notification settings on your <a href="{{ profile_url }}?sort=email_subscriptions">profile</a>)
        {% endblocktrans %}
    </p>
{% else %}
    <p>{% trans "Once you sign in you will be able to subscribe for any updates here" %}</p>
{% endif %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.subscription_switch').live('click', function() {
            var $link = $(this)
            $.post($link.attr('href'), function(response) {
                $('#subscription_box').html(response)
            });

            return false;
        });
    });
</script>